* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {}

html, body {
    font-family: 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    min-width: 800px;
    width: 100%;
}

a {
    color: black;
    text-decoration: underline;
}

body, article, .controls {
    transition: color 600ms;
    transition: background 600ms;
    transition: border 600ms;
}

section {
    max-width: 680px;
    min-height: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-weight: bold;
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
    padding: 0 22px;
}

h2 {
    font-size: 1.2em;
}

article {
    position: relative;
    line-height: 30px;
    font-size: 22px;
    display: block;
    word-wrap: break-word;
    padding: 0 22px;
}

blockquote {
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}

footer {
    height: 90%;
}

.author.visible {
    right: 100%;
    transition-delay: 0;
}

.author {
    font-size: 70%;
    position: absolute;
    right: 75%;
    max-width: 25%;
    min-width: max-content;
    font-family: Helvetica, sans-serif;
    z-index: -1;
    transition: right 0.5s;
}

/* Theme sensitive stuff */

.yin, .yin article {
    background: #fdfdfd;
    color: #111;
}

.yang, .yang article {
    background-color: #111;
    color: #fafafa;
}

.yin blockquote {
    border-left: 4px solid #111;
}

.yang blockquote {
    border-left: 4px solid #fafafa;
}

.yin a {
    color: #111;
}

.yang a {
    color: #fafafa;
}

.yin .fork-selector a.active {
    background-color: #111;
    color: #fafafa;
}

.yang .fork-selector a.active {
    background-color: #fafafa;
    color: #111;
}

.yin .controls {
    border-left: 2px solid #111;
}

.yang .controls {
    border-left: 2px solid #fafafa;
}

/* Fork selector */

.fork-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fork-list {
    display: flex;
}

.fork-selector a {
    flex: 0 0 40px;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: inherit;
    padding: auto;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fork-selector a:link, .fork-selector a:visited, .fork-selector a:focus {
    text-decoration: none;
}

.fork-selector a.active {
    border-radius: 100%;
}

.fork-selector>div:first-child {
    font-size: 2em;
    justify-content: center;
}

.fork-selector>div:last-child {
    font-size: 1.5em;
    justify-content: center;
}

/* Controls */

.controls {
    position: fixed;
    font-size: 1.3em;
    padding: 0 .5em;
}

.controls>span {
    cursor: pointer;
}

/* Discourse styling */

.quote>.title {
    display: none;
}

@media print {
    body {
        overflow: visible;
    }
    section {
        color: #111 !important;
    }
}

/* Animations */

.lds-dual-ring {
    /*display: block;*/
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Icomoon */

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?fpy1mm');
    src: url('fonts/icomoon.eot?fpy1mm#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?fpy1mm') format('truetype'), url('fonts/icomoon.woff?fpy1mm') format('woff'), url('fonts/icomoon.svg?fpy1mm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-drink:before {
    content: "\e900";
}

.icon-drink1:before {
    content: "\e901";
}

.icon-yinyang:before {
    content: "\e902";
}

.icon-fork:before {
    content: "\e903";
}

.icon-link:before {
    content: "\e9cb";
}